#mySidenavmenu a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  border-radius: 0 15px 15px 0;
}

#mySidenavmenu a:hover {
  left: 0;
}

#teams {
  top: 260px;
  background-color: #000;
}

#pokemons {
  top: 320px;
  background-color: #000;
}

#shop {
  top: 380px;
  background-color: #000;
}

#forum {
  top: 440px;
  background-color: #000;
}
#rules {
  top:500px;
  background-color: #000;
}


/* Header Menu */

.container {
  margin-top:-250px;
  position: absolute;
    z-index: 1;
    width: 55% !important;
    margin-left: 592px !important;
}


/*.menu-position {
  position: relative;
  top:50px;
  right:510px;
}*/