#leftSidenavmenu a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  border-radius: 0 15px 15px 0;
}

#rightSidenavmenu button{
  position: absolute;
  right: -137px;
  transition: 0.3s;
  padding: 9px;
  width: 180px;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  border-radius: 15px 0px 0px 15px;
}

#leftSidenavmenu a:hover {
  left: 0;
}

#rightSidenavmenu button:hover {
  right: 0;
}

#teams {
  top: 260px;
  background-color: #000;
}

#pokemons {
  top: 320px;
  background-color: #000;
}

#shop {
  top: 390px;
  background-color: #000;
}

#forum {
  top: 450px;
  background-color: #000;
}
#rules {
  top:510px;
  background-color: #000;
}

.lobbychat {
  top:320px !important;
  background-color: #000 !important;
  border-color: #000 !important;
}


/* Header Menu */

.container {
  margin-top:-250px;
  position: absolute;
    z-index: 1;
    width: 55% !important;
    margin-left: 592px !important;
}


/*.menu-position {
  position: relative;
  top:50px;
  right:510px;
}*/
